
:root{
    --mainFont: "lato",sans-serif;
    --shadow: 5px 5px 15px grey;
    --textlight: white;
    --mariacolor: #0fa3ef;
    --januszcolor: #ff525c;
    --hannacolor: #ff9a74;
    --krzysztofcolor: #a1f696;
    --kazimierzcolor: #f2d94f;
    --paulinacolor: #7e86da;
    --franciszkacolor: #f888bb;
    --narcyzacolor: #71d5bf;
}
*{
    box-sizing: border-box;
    font-family: var(--mainFont);
    font-weight: 100;
    font-size: 20px;
}
body{
    background-color: #333333;
    margin: 0;
}
#landscape{
    display: none;
}
.backbtn{
    position: relative;
    top: 10px;
    left: 10px;
}
.back{
    width: 1.6vw;
    height: 1.6vw;
}
.backbtn > a{
    color: lightgrey;
    padding-left: 1vw;
    cursor: pointer;
    line-height: 1.4vw;
    text-decoration: none;
    font-weight: bold;
}
.backbtn > a:visited{
    color: lightgray;
}
.module{
    display: none;
}
main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
main > h2{
    font-size: 2rem;
    text-align: center;
    color: lightgray;
    text-transform: uppercase;
    font-weight: bold;
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    width: 100%;
    /* justify-content: center; */
}
article{
    width: 150px;
    height: 350px;
    margin:10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #efe7d1;
}
article >h3 {
    position: relative;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    background-color: white;
    top: 30%;
}
article > div.pic{
    height: 150px;
    width: 150px;
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.pic > img{
    width: 100%;
    height: 100%;
}

.module.showmodule{
    display: block;
    position: fixed;
    z-index: 4;
    top: 0;
    left:0;
    margin:0;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
}

.module > div.bckg{
    background-color: white;
    position: relative;
    margin: 4vw 15vw;
    width: 70vw;
    height: auto;
    z-index: 3;
    justify-items: center;
    padding: 2vw;
}

.module > div.background{
    background-color:black;
    opacity: 60%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.module> div> h1{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.module>div> p{
    font-size: 1rem;
    text-align: left;
}
.module >div> a{
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

@media only screen and (max-width: 349px){
    #landscape{
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: var(--januszcolor);
        z-index: 10;
        position: fixed;
    }
    #landscape > h1{
        color: white;
        padding: 30px;
        font-size: 15px;
    }
    section{
        display: none;
    }
}